/***************************************************************
>>> TABLE OF CONTENTS:
****************************************************************
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
***************************************************************/
/*
 * Variables
 */
html,
body,
ul, ol,
h1, h2, h3, h4, h5, h6,
p, hr {
  margin: 0;
  padding: 0; }

* {
  border: 0.5px solid white; }

html {
  background-color: #303030; }

h1, h2, h3, h4, h5, h6,
p, a, span {
  color: #f0f0f0;
  font-family: Helvetica, sans-serif;
  font-weight: 300; }

.box-title {
  text-align: left; }

/* FONT PATH
 * -------------------------- */
.box-menu {
  list-style: none; }

.menu-item {
  text-decoration: none;
  font-style: normal; }

.menu-item, .home {
  display: block;
  background-image: url(img/ionicons-home.svg); }

.wrapper {
  display: grid;
  grid-template-columns: 60px repeat(6, 1fr); }

.box-title {
  grid-column-start: 1;
  grid-column-end: 8; }

.box-menu {
  grid-column-start: 1;
  grid-column-end: 2; }

.box-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  grid-column-start: 2;
  grid-column-end: 6; }
  .box-articles .item-article {
    background-color: red; }

.box-pages {
  grid-column-start: 6;
  grid-column-end: 8; }

/*# sourceMappingURL=test.css.map */
