
@import 'fonts/fonts';

.box-menu {
	list-style: $menu-no-bullet;
}

.menu-item {
	text-decoration: $menu-text-decoration;
	font-style: $menu-font-style;
}

.menu-item, .home {
	@include background-icon(ionicons-home,svg);
}
