html {
	background-color: $background-color-site;
}

h1, h2, h3, h4, h5, h6,
p, a, span {
	color: $color-site;
	font-family: $font-family-site;
	font-weight: $font-weight-site;
}

.box-title	{
	text-align: left;
}

// Menu Box
.box-menu {
	.articles {
	
	}
	.pages {

	}
}