// Layout of the site


// If the browser does NOT support the CSS Grid layout specification.

.wrapper {
	display: grid;
	grid-template-columns: 60px repeat(6, 1fr);
}

.box-title { 
	grid-column-start: 1; 
	grid-column-end: 8; 
} 

.box-menu {
	grid-column-start: 1;
	grid-column-end: 2;
}

.box-articles {
	display: grid;
	grid: {
		template: {
			columns: repeat(auto-fit, minmax(400px, 1fr));
		}
		gap: 10px;
		column: {
			start: 2;
			end: 6;
		}
	}
	.item-article {
		background: {
			color: red;
		}
	}

}

.box-pages {
	grid-column-start: 6;
	grid-column-end: 8;	
}
