/*
 * Variables
 */
 
$background-color-site:	#303030;
$color-site:			#f0f0f0;
$font-family-site: 		Helvetica, sans-serif;
$font-weight-site:		300;
$menu-no-bullet:		none;
$menu-text-decoration:	none;
$menu-font-style:		normal;
